body{
    background:radial-gradient(white, rgb(136, 133, 133));
    height: 100%;
}
html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}

#game{width: 300px;
    height: 500px;
    background-color: #307cce;
    border: 1px solid  black;
    margin: auto;
    position: relative;
    top: 30px;

}
#character{
    width: 100px;
    height: 100px;
    /* background: ; */
    position: relative;
    top: 300px;
    left: 100px;
}
#score{
    text-align: center;
    font-family: cursive;
    font-size: larger;
    position: relative;
    top: 25px;
}
#block{
    width: 100px;
    height: 100px;
    /* background-color: red; */
    position: relative;
    top: 500px;
    animation: slide 2s infinite linear;
}
#block1{
    width: 100px;
    height: 100px;
    /* background-color: red; */
    position: relative;
    top: 500px;
    animation: slide 2s infinite linear;
}

#left,#right{
    width: 50%;
    position: absolute;
    height: 500px;
}
#right{
    left: 50%;
}
#scale{
    width: 300px;
    height: 5px;
    background: linear-gradient(90deg,  rgb(241, 89, 89) ,lightgreen);
    position: relative;
}


@keyframes slide{
    from {top: 0px;}
     to {top: 400px;}

}